<section id="split-callout" class="d-flex py-0">
	<div class="w-100 py-4" style="background-color: var(--pink-10);"><div class="container container-split contain-left">Vivamus tincidunt finibus eros non accumsan. Sed vitae ultrices nisi. Donec quis faucibus quam. Nullam bibendum rutrum nulla.

</div></div>
	<div class="w-100 py-4" style="background-color: var(--green-10);"><div class="container container-split contain-right">Mauris dapibus convallis neque, nec ullamcorper mi efficitur pulvinar. Nam in laoreet eros. Morbi faucibus est id cursus.

</div></div>

	<style>
		.contain-left {
			margin-right: 0;
		}
		.contain-right {
			margin-left: 0;
		}
		.container-split {
			width: 585px;
		}
	</style>
</section>