{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<head><title>About Tony Vergara</title></head>
<section id="hero" style="background-image: url('{% static 'images/img-hero-bg.png' %}');">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>About {{person.name}}</h1>
            <h2>{{person.title}}</h2>
            <div class='hero-cta'>
              <blockquote>{{person.short_bio}}</blockquote>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="{{person.image.url}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<div class='container'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      {{person.biography|markdownify|safe }}
    </div>
  </div>
</div>
<section id="blog" class="blog">
      <div>
        <div class='container'>
          <div class='row'>
            <div class="col-lg-4 mb-4" data-aos="fade-right">
              <h2 class="">Certifications and Awards</h2>
              <p>We're constantly looking to improve our ability to deliver results. Here are some of our recent accomplishments.</p>
            </div>
            
            <div class='col-lg-8'>
              {% for item in recognition %}
                <div class="blog-card mb-3" data-aos="fade-up">
                  <div class="row no-gutters">
                    <div class="col-sm-2">
                      <img src="{{item.image.url}}" class="card-img">
                    </div>
                    <div class="col-sm-10">
                      <div class="card-body">
                        <span class="h6">{{item.type}}</span>
                        <h3>{{item.title}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="card-container">
                    <a href='/blog/{{post.slug}}'>
                      <div class="card color-primary project-card">
                        <div class="card-img"></div>
                        <div class="card-body"><h3>{{post.title}}</h3><p>{{post.description}}</p></div>
                      </div>
                    </a>
                  </div>-->
              {% endfor %}  
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            {% for testimonial in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testimonial.quote_text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>First Lastname</h3>
                <h4>This is a person</h4>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

<div class="color-2 container cards">
  <h2>Blog Articles by {{person.name}}</h2>
  <div class='row'>
    {% for post in blogs %}
      {% include "components/blog-card.html" %}
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}