{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<header class='intro-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='site-heading'>
          <h1>About {{person.name}}</h1>
          <hr class='small' />
          <span class='subheading'>{{person.title}}</span>
          <span class='subheading'>{{person.company}}</span>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='bio-pic'>
        <img style="width: 100%;" src="{{person.image.url}}">
      </div>
    </div>
    
  </div>
</header>
<div class='container color-2'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h2 class='subheading'>{{person.short_bio}}</h2>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      {{person.biography|markdownify|safe }}
    </div>
  </div>
</div>
<div class="container cards">
  <h2>Certifications and Awards</h2>
  <div class='row'>
    {% for item in recognition %}
    <div class="card-container col-md-4">
      <div class="card color-primary project-card">
        <div class="card-img" style="text-align:center;"><img style="width:40%" src="{{item.image.url}}"></div>
        <div class="card-body"><span class="h6">{{item.type}}</span><h3>{{item.title}}</h3></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container cards">
  <h2>Blog Articles by {{person.name}}</h2>
  <div class='row'>
    {% for blog in blogs %}
    <div class="card-container col-md-4">
      <a href='/blog/{{blog.slug}}'>
          <div class="">
            <div class="card-img"></div>
            <div class="card-body"><h3>{{blog.title}}</h3><hr style="margin-left: 0;" class="small"><p>{{blog.description}}</p></div>
          </div>
        </a></div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}