{% extends "layout.html" %}
{% load static %}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Insights & Takeaways</h2>
        <p>Here are some quick thoughts of ours around some of our prior work, ideas for future work, and other topics, like buzzwords we hear in the industry.</p>
    </section><!-- End Breadcrumbs -->


<div class='container my-4'>
  <div class='row'>
    <div class='col-lg-8 col-md-12'>
      {% for post in blogs %}
        {% include "components/blog-card.html" %}
      {% endfor %}
    </div>
    <div class='col-lg-4 col-md-12'>
    </div>
  </div>
</div>
{% endblock %}
