{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<header class='intro-header' style="background-image: url('{% static "images/home-bg.jpg" %}')">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='site-heading'>
          <h1>Categories</h1>
          <hr class='small' />
          <span class='subheading'>Tony Vergara</span>
      </div>
    </div>
  </div>
</header>
{% for item in skills %}
<div class='container'>
  <a href="{{ item.slug }}"><h2 class='post-title'>{{ item.title }}</h2></a>
  <div class='row'>
    <div style='display:flex;align-items:center;'>

        <div class="col-md-6">
          <p>{{ item.description|markdownify|safe }}</p>
        </div>
        {% if item.skills %}
        <div class="col-md-6">
          {% if item.skills|length >= 6 %}
          <ul class="two-col-list">
          {% else %}
          <ul>
          {% endif %}
          {% for skill in item.skills %}
          <li>{{skill.title}}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      
    </div>
  </div>
  <hr>
</div>

{% endfor %}
{% endblock %}
