{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<header class='intro-header' style="background-image: url('{{tag.hero_image.url}}')">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='site-heading'>
          <h1>{{tag.title}}</h1>
          <hr class='small' />
          <span class='subheading'>{{tag.description}}</span>
      </div>
    </div>
  </div>
</header>
<div class='container'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      {% for skill in tag.skills %}
        <div>
          <h2 class='post-title'>{{ skill.title }}</h2>
          {% if skill.description %}
          <p>{{ skill.description|markdownify|safe }}</p>
          {% endif %}
        </div>
        <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
