{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<head><title>{{ tag.title }} | Tony Vergara</title></head>
<section id="hero" style="background-image: url('{% static 'images/home-bg.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <div>
          <h1>{{tag.title}}</h1>
          <h2>{{tag.description}}</h2>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="{{tag.hero_foreground.url}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<section><div class='container mt-4'>
  <div class='row col-md-6'>
    <h2>Our {{tag.title}} Services</h2>
    <p>Lorem ipsum dolor sit amet. This is where we'll talk the longer form content of the process we're offering. e.g: for workshops, talk about our planning and retrospective sessions. For website redesign strategy, talk about our pre-wireframe steps.</p>
  </div>
  <div class='row col-md-6'>
    <div class="accordion" id="accordionExample" style="width:100%">
      {% for skill in tag.skills %}
      <div class="">
        <div class="card-header" id="heading{{forloop.counter0}}">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter0}}" aria-expanded="true" aria-controls="collapse{{forloop.counter0}}">
              <h5>{{skill.title}}</h5>
            </button>
        </div>

        <div id="collapse{{forloop.counter0}}" class="collapse" aria-labelledby="heading{{forloop.counter0}}" data-parent="#accordionExample">
          <div class="card-body">
            {{skill.description|markdownify}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div></section>
<section>
  <div class="container cards">
    <h2>{{tag.title}} Projects</h2>
    <div class='row'>
      {% for project in tag.projects %}
        {% include "components/project-card.html" %}
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}
