{% extends "layout.html" %}
{% load static %}
{% load markdownify %}


{% block content %}
<header class='intro-header color-4' style="background-image: url('{{tag.hero_image.url}}')">
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='site-heading text-left'>
          <h1>{{tag.title}}</h1>
          <hr class='small' />
          <span class='subheading'>{{tag.description}}</span>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='bio-pic'>
        <img style="width: 100%;" src="{{tag.hero_foreground.url}}">
      </div>
    </div>
    
  </div>
</header>

<div class='container'>
  <div class='row'>
    <div class='col-lg-8 col-md-10'>
      {% for skill in tag.skills %}
        <div>
          <h2 class='post-title'>{{ skill.title }}</h2>
          {% if skill.description %}
          <p>{{ skill.description|markdownify|safe }}</p>
          {% endif %}
        </div>
        <hr />
      {% endfor %}
    </div>
  </div>
</div>
<div class="container cards">
  <h2>{{tag.title}} Projects</h2>
  <div class='row'>
    {% for proj in tag.projects %}
    <div class="card-container col-md-4">
      <a href='/projects/{{proj.slug}}'>
          <div class="card color-primary project-card">
            <div class="card-img"></div>
            <div class="card-body"><h3>{{proj.project_title}}</h3><p>{{proj.description}}</p></div>
          </div>
        </a></div>
    {% endfor %}
  </div>
</div>
{% endblock %}
