{% extends "layout.html" %}
{% load static %}

{% block content %}
<header class='intro-header' style="background-image: url('{{hero_image.url}}');margin-bottom:0;">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-8'>
        <div class='site-heading'>
          <h1>Vergara Creative Labs</h1>
          <hr class='small' />
          <span class='subheading'>We're innovators and storytellers who focus on lorem, ipsum, and dolor. We make sit, amet, and consectetur.</span>
          <div class='hero-cta'>
            <a class="btn btn-primary btn-lg" href="/projects" role="button">See Our Work</a>
            <a class="btn btn-link btn-lg" href="#contact" role="button"><span class="btn-copy btn-link">Get In Touch</span></a>
          </div>
      </div>
    </div>
  </div>
</header>
<div class='icon-list'>
  <div class='container text-center'>
    <h2 class="section-header">Our Skills</h2>
    <div class='row'>
      {% for category in categories %}
      <div class='col-lg-3 col-xs-6 icon-card'>
          <div class='post-preview'>
            <img class='icon category-icon' src="{{category.icon.url}}" style="filter: invert(82%) sepia(43%) saturate(517%) hue-rotate(86deg) brightness(108%) contrast(102%);">
            <a href="{{category.slug}}">
              <h3>{{ category.title }}</h3>
            </a>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class='color-2'>
  <div class='container'>
    <h2 class="section-header">Recent Projects</h2>
    <div class='row'>
      {% for project in projects %}
      <div class="card-container col-md-6">
        <a href='/projects/{{project.slug}}'>
          <div class="card color-primary project-card">
            <div class="card-img" style='max-height:200px;overflow:hidden;'><img style='width:100%' src='{{project.hero_image.url}}'</img></div>
            <div class="card-body"><h3>{{project.project_title}}</h3><hr style="margin-left: 0;" class="small"><p>{{project.description}}</p></div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-primary btn-lg" href="/projects" role="button">See All Projects</a>
  </div>
</div>
<div class='color-2'>
  <div class='container'>
    <div class='row'>
      <div class="col-lg-4">
        <h2 class="">Recent Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing sed quallam nulla eunque fortis.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">See All Blogs</a>
      </div>
      
      <div class='col-lg-8'>
        {% for post in blogs %}
          <div class="card-container">
              <a href='/blog/{{post.slug}}'>
                <div class="card color-primary project-card">
                  <div class="card-img"></div>
                  <div class="card-body"><h3>{{post.title}}</h3><p>{{post.description}}</p></div>
                </div>
              </a>
            </div>
      {% endfor %}  
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
