{% extends "layout.html" %}
{% load static %}

{% block content %}

<head><title>Tony Vergara | UX Researcher & Strategist</title></head>
  <section id="hero" style="background-image: url('{{hero_bg.url}}');">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Vergara Creative Labs</h1>
            <h2>We're innovators and storytellers who gain inspiration from psychology and neuroscience to help organizations craft omni-channel experiences that build relationships between users and their brand.</h2>
            <div class='hero-cta'>
              <a class="btn btn-primary btn-lg" href="/projects" role="button">See Our Work</a>
              <a class="btn btn-link btn-lg" href="#footer" role="button"><span class="btn-copy btn-link">Get In Touch</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img d-none d-lg-block" data-aos="fade-left">
          <img src="{{hero_image.url}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container-fluid">

        <!--<div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>-->

        <div class="row">
          {% for category in categories %}
          <div class="col-xs-6 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-{{ forloop.counter }} mb-4">
              <div class="icon">
                <img class='icon category-icon' src="{{category.icon.url}}">
              </div>
              <h4 class="title"><a href="/{{category.slug}}">{{ category.title }}</a></h4>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->
<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container-fluid">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Projects</h2>
          <p>Our work is wide-ranging, but here's a sample of the most recent projects we've completed for our clients. </p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="200">
        <!--<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">-->
          {% for project in projects %}
          <!--<div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{project.hero_image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{project.project_title}}</h4>
                <p>{{project.description}}</p>
              </div>
              <div class="portfolio-links">
                <a href="{{project.hero_image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="/projects/{{project.slug}}" title="Project Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>-->
            {% include "components/project-card.html" %}
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->
    
    <section id="blog" class="blog" data-aos="fade-up">
      <div>
        <div class='container-fluid'>
          <div class='row'>
            <div class="col-lg-4 mb-4" data-aos="fade-right">
              <h2 class="">Recent Blogs</h2>
              <p>Here's the recent thoughts we've shared about our passions.</p>
              <a class="btn btn-primary btn-lg" href="/blog" role="button">See All Blog Posts</a>
            </div>
            
            <div class='col-lg-8'>
              {% for post in blogs %}
                {% include "components/blog-card.html" %}
              {% endfor %}  
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" style="background: linear-gradient(rgba(190, 254, 231, 0.8), rgba(190, 254, 231, 0.8)), url('{{contact_bg.url}}') center right;background-size: cover;">
      <div class="container-fluid">

        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Contact Us to Learn How We Can Help</h3>
            <p>We're available for free initial consultations. When we reach out, we will verify your needs and start to piece together a potential project plan and contract. Once we've got the contract and project plan approved, let's get to work!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="btn btn-primary align-middle" href="#">Contact Us</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
    <section id="features" class="features d-none d-lg-block">
      <h2 class="section-title">How Can We Help?</h2>
<div class="container-fluid">

        <div class="row">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item aos-init aos-animate" data-aos="fade-up">
                <a class="nav-link show" data-bs-toggle="tab" href="#tab-1">
                  <h4>I need help preparing to redesign my website</h4>
                  <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
                </a>
              </li>
              <li class="nav-item mt-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                  <h4>I'm looking to hire someone full-time</h4>
                  <p>Voluptas vel esse repudiandae quo excepturi.</p>
                </a>
              </li>
              <li class="nav-item mt-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                  <h4>I'm looking to schedule a workshop or set of workshops</h4>
                  <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
                </a>
              </li>
              <li class="nav-item mt-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab-4">
                  <h4>I'm looking for measure and optimize my customer experience across the entire brand</h4>
                  <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane" id="tab-1">
                <figure>
                  <span>Lorem ipsum dolor sit amet</span>
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <span>What is the job tho??? I can't really say no unless I know more about the job. Email me with the following:</span>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <span>Send me an email with the following info: dates, goals, timing for a first consultation & planning session.</span>
                </figure>
              </div>
              <div class="tab-pane active" id="tab-4">
                <figure>
                  <span>Let's talk more about where you currently are. What data do you already have available and how do you report?</span>
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
<section class="d-lg-none d-xl-none">
<div class='color-2'>
  <div class='container-fluid'>
    <div class='row'>
      <div class="col-md-12">
        <h2 class=''>How can we help you?</h2>
        <p>We're available for initial consultations and when we reach out, we will verify your needs and start to piece together a potential project plan and contract.</p>
        <div class='contact-card'>
          <a href="mailto:antonio.vergara11@gmail.com?subject=I'm looking for website redesign support" class="d-flex align-items-center">
            <div>
              <h3>I need help preparing my website for a redesign.</h3>
              <p>Lorem ipsum dolor sit amwt consectetur adispiscing elit sed quallam.</p>
            </div>
            <div>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </div>
          </a>
        </div>
        <div class='contact-card'>
          <a href="mailto:antonio.vergara11@gmail.com?subject=I'm looking to study my users" class="d-flex align-items-center">
            <div>
              <h3>I want to conduct direct research with my users.</h3>
              <p>Lorem ipsum dolor sit amwt consectetur adispiscing elit sed quallam.</p>
            </div>
            <div>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </div>
          </a>
        </div>
        <div class='contact-card'>
          <a href="mailto:antonio.vergara11@gmail.com?subject=I'd like to schedule a workshop" class="d-flex align-items-center">
            <div>
              <h3>I'd like to schedule a workshop or series of workshops.</h3>
              <p>Lorem ipsum dolor sit amwt consectetur adispiscing elit sed quallam.</p>
            </div>
            <div>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </div>
          </a>
          
        </div>
        <div class='contact-card'>
          <a href="mailto:antonio.vergara11@gmail.com?subject=I'm looking for CX measurement and optimization" class="d-flex align-items-center">
            <div>
              <h3>I'm looking for measure and optimize my customer experience across the entire brand.</h3>
              <p>Lorem ipsum dolor sit amwt consectetur adispiscing elit sed quallam.</p>
            </div>
            <div>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </div>
          </a>
          
        </div>
      </div>
      
      
      </div>
      
    </div>
  </div></section>
</div>
{% endblock %}
