{% load static %}
<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4e0b58941c.js" crossorigin="anonymous"></script>
    {% for file in global_files.files %} <link href="{{file.url}}" rel="stylesheet" type="text/css" /> {% endfor %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&family=Yantramanav:wght@100;300;700&display=swap" rel="stylesheet">

    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
      window['_fs_org'] = '134ZTJ';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
          g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
          o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
          g.anonymize=function(){g.identify(!!0)};
          g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
          g.log = function(a,b){g("log",[a,b])};
          g.consent=function(a){g("consent",!arguments.length||a)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(){};
          g.setVars=function(n, p){g('setVars',[n,p]);};
          g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
          if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
          g._v="1.3.0";
      })(window,document,window['_fs_namespace'],'script','user');
      </script>

    <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    ![endif]-->
  </head>
  <body>
    <header id="header" class="fixed-top align-items-center">
    <div class="">
      <div class="utility-nav">
        <div class="container-fluid d-flex flex-row align-items-end">
          <a class="" href="http://" target="_blank"><li class="nav-link btn btn-sm btn-utility">Utility Navigation Link</li></a>
        </div>
      </div>
      <div class="container-fluid"><div class="d-flex justify-content-between">
          <div class="logo me-auto">
            <h1><a style="line-height: 50px;" href="/">Vergara Creative Labs</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li class="nav-link"><a href="/">Home</a></li>
              <li class="nav-link"><a href="/about">About</a></li>
              <li class="nav-link dropdown"><a href="#"><span>Skills</span> <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li class="nav-link"><a href="/testing-optimization">CX Measurement & Optimization</a></li>
                  <li class="nav-link"><a href="/ux-research">User Research</a></li>
                  <li class="nav-link"><a href="/workshops">Design Thinking Workshops</a></li>
                  <li class="nav-link"><a href="/website-redesign">Website Redesign Strategy</a></li>
                  </li>
                </ul>
              </li>
              <li class="nav-link"><a href="/projects">Projects</a></li>
              <li class="nav-link"><a href="/blog">Blog</a></li>
            </ul>
            <li class="nav-link"><a class="btn btn-primary" href="#footer">Contact</a></li>
            <i class="fas fa-bars mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div></div>
      </div>
  </header><!-- End Header -->


    {% block content %}{% endblock %}


    <footer class="bg-dark" id="footer">
      <div class='container-fluid footer-top'>
        <div class='row' style="align-items: center;">
          <div class='col-md-6 col-sm-12 text-light'>
            <h4 class="text-light">Vergara Creative Labs</h4>
            <p>We're always available for the right opportunities, so definitely reach out with more information. In addition to the services above, we love mentoring career changing technologists who are looking to break into the field.</p>
            <ul style="padding-left:0;">
              
              <li>
                <a class='footer-link-text btn-link' href="/categories"><span class='btn-copy btn-link'>Skills</span></a>
              </li>
              <li>
                <a class='footer-link-text btn-link' href="/projects"><span class='btn-copy btn-link'>Projects</span></a>
              </li>
              <li>
                <a class='footer-link-text btn-link' href="/blog"><span class='btn-copy btn-link'>Blog</span></a>
              </li>
              <li>
                <a class='footer-link-text btn-link' href="/about"><span class='btn-copy btn-link'>About</span></a>
              </li>
            </ul>
          </div>
          <div class='col-md-6 col-sm-12'>
            <ul class='outlinks'>
              <li>
                <a class='btn-link outlink'  href="https://www.twitter.com/tonyvergara15">
                  <span class='fa-stack fa-1x'>
                    <i class='fa fa-circle fa-stack-2x fa-inverse'></i>
                    <i class="far fa-address-card fa-stack-1x outlink-icon"></i>
                  </span>
                  <span class="footer-link-text btn-link btn-copy outlink-text">View my Resume</span>
                </a>
              </li>
              <li>
                <a class='btn-link outlink' href="https://www.twitter.com/tonyvergara15">
                  <span class='fa-stack fa-1x'>
                    <i class='fa fa-circle fa-stack-2x fa-inverse'></i>
                    <i class='fab fa-twitter fa-stack-1x outlink-icon'></i>
                  </span>
                  <span class="footer-link-text btn-link btn-copy outlink-text">Follow me on Twitter</span>
                </a>
              </li>
              <li>
                <a class='btn-link outlink'  href="https://www.linkedin.com/in/tonyvergara">
                  <span class='fa-stack fa-1x'>
                    <i class='fa fa-circle fa-stack-2x fa-inverse'></i>
                    <i class='fab fa-linkedin-in fa-stack-1x outlink-icon'></i>
                  </span>
                  <span class="footer-link-text btn-link btn-copy outlink-text">Connect with me on LinkedIn</span>
                </a>
              </li>
              <li>
                <a class='btn-link outlink'  href="https://www.calendly.com/tonyvergara">
                  <span class='fa-stack fa-1x'>
                    <i class='fa fa-circle fa-stack-2x fa-inverse'></i>
                    <i class="far fa-calendar-plus fa-stack-1x outlink-icon outlink-text"></i>
                  </span>
                  <span class="footer-link-text btn-link btn-copy outlink-text">Schedule a Meeting</span>
                </a>
              </li>
              <li>
                <a class='btn-link outlink'  href="mailto:antonio.vergara11@gmail.com">
                  <span class='fa fa-stack fa-1x'>
                    <i class='fas fa-circle fa-stack-2x fa-inverse'></i>
                    <i class="far fa-paper-plane fa-stack-1x outlink-icon"></i>
                  </span>
                  <span class="footer-link-text btn-link btn-copy outlink-text">Send me an email</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="">
          <p class='copyright text-light'>Copyright &copy; Tony Vergara 2021</p>
        </div>
      </div>
    </footer>
  </body>
  {% for file in global_files.js_files %} 
  <script src="{{file.url}}"></script> 
  {% endfor %}
  
</html>
