{% extends "layout.html" %}
{% load static %}

{% block content %}
<title>Projects | Tony Vergara</title>
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background: linear-gradient(135deg, rgba(147,253,222,1) 50%, rgba(32,233,207,1) 100%);">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Projects</li>
        </ol>
        <h2>Projects</h2>
        <p>Lorem ipsum about how my Projects can range in size from single one-off engagements to longer term consultative work.</p>
        <div class='row'>
    <div class='col-lg-8 col-md-10'>
      <div>
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input class="btn btn-primary btn-sm" type="submit" value="Submit">
        </form>
      </div>
    </div>
      </div>
    </section><!-- End Breadcrumbs -->
<div class='container my-4'>
  
  
      <div class="container cards">
        {% if projects|length == 0 %}
        <h2>We couldn't find any projects with that search term. </h2>
        <p>Please try another term or contact us for more information.</p>
        {% endif %}
        <div class='row'>
          {% for project in projects %}
          {% include "components/project-card.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
