{% extends "layout.html" %}
{% load static %}

{% block content %}
<header class='intro-header' style="background-image: url('{% static "images/home-bg.jpg" %}')">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='site-heading'>
          <h1>Projects</h1>
          <hr class='small' />
          <span class='subheading'>Tony Vergara</span>
      </div>
    </div>
  </div>
</header>
<div class='container'>
  <div class="row">
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      {% for project in projects %}
        <div class='post-preview'>
          <a  href="/projects/{{ project.slug }}">
            <h2 class='post-title'>{{ project.project_title }}</h2>
          </a>
          {% if project.description %}
            <p class='post-subtitle'>{{ project.description }}</p>
          {% endif %}
        </div>
        <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
