{% extends "layout.html" %}
{% load static %}

{% block content %}
<title>Projects | Tony Vergara</title>
<!-- ======= Breadcrumbs ======= -->
    <section id="hero"  class="breadcrumbs hero-short" style="background-image: url('{% static 'images/img-hero-bg.png' %}');">

    <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Projects</li>
        </ol>
        <h2>Projects</h2>
        <p>Lorem ipsum about how my Projects can range in size from single one-off engagements to longer term consultative work.</p>
        <div class='row'>
    <div class='col-lg-8 col-md-10'>
      <div>
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input class="btn btn-primary btn-sm" type="submit" value="Submit">
        </form>
      </div>
    </div>
      </div>

  </section>
<div class='container my-4'>
  
  
      <div class="container cards">
        {% if projects|length == 0 %}
        <h2>We couldn't find any projects with that search term. </h2>
        <p>Please try another term or contact us for more information.</p>
        {% endif %}
        <div class='row'>
          {% for project in projects %}
          {% include "components/project-card.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
</div>
<section id="cta" class="cta" style="background: linear-gradient(45deg,#0F0652cc, #0F9161cc), url('//images.ctfassets.net/stx37o49ip9v/39eq6gY9Od1C3csijgjRcF/89b13be3d3804ee2ad6bc1438b465cc7/contact-us.jpg') center right;background-size: cover;">
      <div class="container-fluid">

        <div class="row aos-init aos-animate" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 style="color: white;">Contact Us to Learn How We Can Help</h3>
            <p style="color: white;">Lorem ipsum about the kinds of work we do and how we can help. Be descriptive, despite the skills being fairly diverse, and therefore probably not the easiest to be descriptive about.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="btn btn-primary align-middle" href="#">Contact Us</a>
          </div>
        </div>

      </div>
    </section>
{% endblock %}
